
<h1>Peak Power Leasing System - Pre-Release 1</h1>

<table>
  <tr>
    <td>
      <button (click)="pplStock()">ppl-stock</button>
    </td>
    <td>
      {{ stockResponse }}
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="authStock()">ppl-auth</button>
    </td>
    <td>
      {{ authResponse }}
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="priceCalStock()">ppl-pricecalculator</button>
    </td>
    <td>
      {{ priceResponse }}
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="leasingStock()">ppl-leasing</button>
    </td>
    <td>
      {{ leasingResponse }}
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="billMailStock()">ppl-billingandmailing</button>
    </td>
    <td>
      {{ billMailResponse }}
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="customerStock()">ppl-customer</button>
    </td>
    <td>
      {{ customerResponse }}
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="reservationStock()">ppl-reservation</button>
    </td>
    <td>
      {{ reservationResponse }}
    </td>
  </tr>
</table>